<div class="container">
	<header>
			<h1>pop<strong>UP</strong></h1>
			<h2>a co-operative gallery</h2>
	</header>

	<img class="lead" width="933" height="697" src ="images/building.jpg" />
	<p class="lead">
		<span class="orange">
			is coming soon
		</span>
		<span class="orange">
			to downtown
		</span>
		<span class="orange">
			walla walla
		</span>
	</p>

	<p class="lead conjunction">&</p>

	<p class="lead">
		<span class="blue">
			We want to
		</span>
		<span class="blue">
			show
		</span>
		<span class="purple">
			your work.
		</span>
	</p>
	<p class="date">
		Our first exhibition will run
		<span class="orange">
			November 29th
		</span>
		<span class="preposition">to</span>
		<span class="blue">
			December 22nd
		</span>
	</p>
	<div class="call">	
		<h3 class="call">
			<span class="blue">
				call to
			</span>
			<span class="purple">
				artists
			</span>
		</h3>
		<div class="artists">
			<ul class="media">
				<li>Painters</li>
				<li>Ceramicists</li>
				<li>Jewelers</li>
				<li>Sculptors</li>
				<li>Printmakers</li>
				<li>Photographers</li>
				<li>Fiber Artists</li>
			</ul>
			<p class="lead purple">
				(That means you!)
			</p>
		</div>
		<div class="info">
			<span class="purple">
				RSVP
			</span>
			<span class="preposition">by</span>
			<span class="orange">October 25th</span>
			<span class="blue"><a href="mailto:gallery@wallapopup.com">
					gallery@wallapopup.com</a></span>
			503-803-7107
		</div>
		<div class="fineprint">
			<ul>
				<lh>All artists should be prepared to contribute:</lh>
				<li>- $87.50 (rent money)</li>
				<li>- refundable damage deposit</li>
				<li>- 8 hours of labor (we need help with setup, gallery sitting,
				marketing, and more).</li>
			</ul>
		<span class="purple">You are entitled to all sales $$$</span>

	</div>
	<div class="faqs">
		<h3><span class="blue">frequently</span>
			<span class="purple">asked</span>
			<span class="orange">questions</span>
		</h3>
		<dl>
			<dt class="blue">Why Walla Walla? Why Now?</dt>
			<dd><p>Everyone who has spent time in the Walla Walla Valley knows this is a special	place blessed with an abundance of natural beauty and a	history of supporting bold ideas. We think it&apos;s only natural that this town should foster a creative community befitting its splendor.</p>

			<p>We want to prove that Walla Walla can support a vibrant, sustainable,
			and renowned community of independent artists. We hope you&apos;ll join
			us in our bold experiment.</p>
			</dd>

			<dt class="purple">Where is the gallery?</dt>
			<dd>We will be renting a space downtown on Main Street. Currently we
			are looking at several options and the exact location is TBD</dd>

			<dt class="orange">Who are you?</dt>
			<dd>
				<p>walla popUP is a collaboration between Lynn Woolson and Ben
				Lerchin.  Lynn has lived in Walla Walla for the last 2 years, working
				for Whitman&apos;s Art Department for the last year. She has had the
				opportunity to be on the board of the West Linn Art Festival and a
				founding member of Art in the Forest at Mary S. Young.  For 2 years
				she was a member of Lunaira, a co-operative gallery in Silverton,
				Oregon.</p>
				
				<p>Ben Lerchin is a digital media artist and graphic designer who has
				called Walla Walla home for the past four years while studying at
				Whitman. Before settling down	in Walla Walla he spent time working
				with creative	communities in San Francisco, Glasgow, New York City and Tieton, Washington.</p>
			</dd>
			
			<dt class="blue">How many artists will be involved?</dd>
			<dd>We plan to cap sign-ups at 22 artists. First come, first
			served!</dd>

			<dt class="purple">How do I sign up?</dt>
			<dd>We are asking artists to commit to a space in the gallery on or
			before October 25th. There will be a sign-up form and payment
			instructions available shortly via this site.
			</dd>

			<dt class="orange">How will you be assigning space in the gallery?</dt>
			<dd>Once we have a final list of artists who will be participating,
			we will put together a floorplan based on each artist&apos;s
			medium and size requirements. Artists will have the opportunity to
			review the plan and we will make changes at that point if necessary.
			The work you plan to show must fit	within 100 sq ft of floor space
			and use at most an 8&apos; square wall section. The space we are
			renting is large and we don&apos;t anticipate	problems fitting
			anybody&apos;s work in, but if you have specific needs we
			would be happy to work with you.</dd>
			
		</dl>
	</div>

	<div class="lead">
		<span class="blue">Thanks for your interest!</span>
		<span class="orange">Stay tuned: More details coming soon.</span>
	</div>
</div>
