
.frame {
		position: absolute;
		width: 130px;
		height: 130px;
	&.corner {
		background-color: #fff;
		z-index: 2;
		&.top.right {
			background-image: url('../images/frame-tr.png');
		}
		&.top.left {
			background-image: url('../images/frame-tl.png');
		}
		&.bottom.right {
			background-image: url('../images/frame-br.png');
		}
		&.bottom.left {
			background-image: url('../images/frame-bl.png');
		}
	}
	&.side {
		top: 0;
		left: 0;
		&.right {
			background: url('../images/frame-r.png');
			height: 100%;
			margin-right: -1px;
		}
		&.left {
			background: url('../images/frame-l.png');
			height: 100%;
			margin-left: 0px
		}
		&.top {
			background: url('../images/frame-t.png');
			width: 100%;
			margin-top: 3px;
		}
		&.bottom {
			background: url('../images/frame-b.png');
			width: 100%;
			margin-bottom: 3px;
		}
	}
	&.right {
		right: 0;
		left: auto;
	}
	&.left {
		left: 0;
		right: auto;
	}
	&.bottom {
		bottom: 0;
		top: auto;
	}
	&.top {
		top: 0;
		bottom: auto;
	}
}
.container #mc_embed_signup {
	font-family: inherit;
	form {
		padding-left: 0;
	}

}
